*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    margin: 0;
    background-image:url(background.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height:100%;
    width:100%;
    font-size: 100%
  }


header{  
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,105,180,255);
    align-items: center;
    padding:1.3% 6% ;
    width: 100%;
    background-color:rgba(255,105,180,255)	;
}
.logo{
color: white;
font-family: arial;
transition: 0.4s ease;
font-size: 2em;
font-weight: 900;
}
.logo:hover{
    color:#FF1493;
    text-shadow: 0 0 12px #FF1493,
    0 0 12px #FF1493;
    transform: scale(1.2);
}
span{
    color:#FF1493;
}
nav{
    display: flex;
    background-color: rgba(255,105,180,255);
    align-items: center;
    width: 100%;
    justify-content:right;
}
.contact-radius{
    display: flex;
    border: 2px solid #FF1493;
    align-items: center;
    justify-content: space-between;
    padding:0 2%;
    border-radius: 10px;
}

nav a{
    color: #ffffff;
    font-family: arial;
    transition: 0.3s ease;
    font-weight: 500;
    font-size: 1.2em;
    align-items: center;
    padding: 0.5%;
}
nav a:hover{
    transform: scale(1.1);
}
.main-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:5% 22%;
    gap: 17%;
    
}
@media (max-width: 768px){
    .main-div{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        
    }
}

.poto,.poto1{
    border-radius: 15px;
    box-shadow: 0 0 70px#FF1493,
    0 0 70px#FF1493;
    transition: 0.5s ease;
    height: 77%;
    width: 100%;
}
.poto:hover,
.poto1:hover{
    box-shadow: 0 0 500px#FF1493,
    0 0 500px#FF1493;
}


.container {
    position: relative;
    max-width: 800px;
    width:100%;
    height:auto;
    margin: 0 auto;
  }

.container h1{
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    width: 100%;
    padding:20px;
    font-size: 1em;
    font-weight: 500;
    opacity: 0;
    transition: 0.3s ease;
    bottom: 0;
    display: flex;
    justify-content: center;
    border-radius: 13px;
}
.container:hover h1{
    opacity:1;
}
.container1 {
    width:100%;
    height:auto;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
.container1 h1{
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    font-size: 1em;
    font-weight: 500;
    opacity: 0;
    transition: 0.3s ease;
    bottom: 0;
    display: flex;
    border-radius: 13px;
    justify-content: center;
}
.container1:hover h1{
    opacity:1;
}